<div class="container-fluid">
  <div class="row p-2">
    <div class="col-4">
      <img id="call-img" src="assets/img/call.png">
    <button mat-raised-button color="primary" class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(false)">Start Call</button>
    <button mat-raised-button class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(true)">Join Call</button>
    <button mat-raised-button color="warn" class="m-2" [disabled]="!(isCallStarted$ | async)" (click)="endCall()">End Call</button>
    <!--
    <mat-form-field >
      <mat-label>INSERT REMOTE ID</mat-label>
      <input matInput >
    </mat-form-field>
    -->
  </div>
  <div class="col-8">
    <div class=" text-center">
      <div id="video-wrapper">
        <video #remoteVideo id="remote-video"  autoplay playsinline></video>
        <video #localVideo id="local-video" autoplay playsinline [muted]=true></video>
      </div>
    </div>


</div>
</div>
</div>
